body {
    /* padding: 3%; */
    background-color: rgb(169, 203, 233);
}

#main-conatainer {
    display: grid;
    margin: 2%;
    grid-template-areas: "header header header"
                        "section1 section1 section2"
                        "footer footer footer";
    column-gap: 10px;
    row-gap: 10px;    
    grid-template-columns: repeat(3 1fr);
    grid-template-rows: 150px 1fr 80px;
}

#header-container {
    background-color: rgb(226, 100, 100);
    padding: 5%;
    grid-area: header;
}

#section-container {
    background-color: rgb(235, 183, 88);
    padding: 2%;
    grid-area: section1;
    display: grid;
    grid-template-areas: "item1 item2 "
                        "item3  item3";
    grid-template-columns: repeat(2 1fr);
    grid-template-rows: 120px 1fr;
}

#aside-container {
    background-color: rgb(83, 97, 143);
    padding: 8%;
    grid-area: section2;
}

#footer-container {
    background-color: rgb(81, 48, 112);
    padding: 3%;
    grid-area: footer;
}

#section-container article {
    padding: 10%;
    margin: 1%;
}

.item-1 {
    background-color: rgb(114, 214, 214);
    grid-area: item1;
    padding: 5%;
}

.item-2 {
    background-color: rgb(101, 121, 158);
    grid-area: item2;
    padding: 5%;
}
.item-3 {
    background-color: cyan;
    grid-area: item3;
    padding: 5%;
}