body {
    /* padding: 3%; */
    background-color: rgb(169, 203, 233);
}

#main-conatainer {
    display: grid;
    margin: 3%;
    grid-template-areas: "header header header"
                        "section1 section1 section2"
                        "footer footer footer";
    column-gap: 10px;
    row-gap: 10px;   
    grid-template-columns: repeat(3 1fr);
    grid-template-rows: 150px 1fr 100px;
}

#header-container {
    background-color: rgba(226, 100, 100, .9);
    padding: 5%;
    grid-area: header;
}

#section-container {
    background-color: rgba(235, 183, 88, .9);
    padding: 15%;
    grid-area: section1;
}

#aside-container {
    background-color: rgba(83, 97, 143, .9);
    padding: 15%;
    grid-area: section2;
}

#footer-container {
    background-color: rgba(81, 48, 112, .9);
    padding: 3%;
    grid-area: footer;
}