body {
    background-color: #F5F7F8;
}

#grid {
    padding: 15px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

#grid article {
    /* background-color: orange; */
    color: white;
    padding: 20px;
}

#item-1 {
    background-color: #b03532;
}

#item-2 {
    background-color: #322063;
}

#item-3 {
    background-color: #32b058;
}

#item-4 {
    background-color: #9db032;
}

#item-5 {
    background-color: #327eb0;
}

#item-6 {
    background-color: #032c0d;
}

#item-7 {
    background-color: #180738;
}

#item-8 {
    background-color: #076997;
}

#item-9 {
    background-color: #a30a17;
}

button {
    background-color: #1bd349;
}